$hero-height: 60vh;

body {
  font-family: Montserrat !important;
}

.dropdown {

  img {
    width: 100px;
    height: auto;
  }

}


.grid-container-full {
  background: none;

  @include breakpoint(medium) {
    background: url(../assets/hero-tablet.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
.hero-section {
  background: none !important;
  background-size: cover ;
  background-position: bottom ;
  background-repeat: no-repeat ;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Montserrat;
  background: none;
  flex-direction: column;
  height: 100%;

  @include breakpoint(medium) {
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background: url("../assets/hero-tablet.png");
    flex-direction: row;
    height: 400px;
  }

  @include breakpoint(large) {
    background: url("../assets/hero-tablet.png");
    background-position: bottom;
    background-repeat: no-repeat;
  }




  .hero-section-text {

    text-align: left;
    color: $black;
    text-shadow: 1px 1px 2px $black;
    max-width: 45%;
    display: contents;

    @include breakpoint(medium) {
      display: inline-block;
    }

    .button-shadow {
      box-shadow: 0px 8px 10px #888888;
    }

    * {
      text-shadow: none;
      font-family: Montserrat;
    }

    h1 {
      padding-top: 30px;
      line-height: 1;
      font-size: 42px;

      @include breakpoint(medium) {
        padding-top: 0;
      }
    }

    p {
      font-size: 0.9rem;
      margin-bottom: 15px;

    }

  }


}
.hero-section-mobilebg {
  display: flex;
  overflow-y: hidden;
  height: 100%;
  @include breakpoint(medium) {
    display: none;
  }

  img {
    margin-top: auto;
  }
}
}
.button-edit--secondary {
  background-color: #27B7B7;
  color: white;
  padding: 10px 24px;
  border-radius: 5px;
  z-index: 1;

  &:hover {
    background-color: #209b9b;
  }
}

.grid-container-top-pad {
  padding-top: 30px;
}

.card {
  margin: 0 auto;
  border: 0;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.10);
  border-radius: 3px;
}

.card-title {
  font-weight: bold;
  text-transform: uppercase;
}

.card-img{
  width: 100%;
	object-fit: cover;
	height: 12rem;
}

li {
  .button-edit {
    background-color: $white;
    color: $black;
    padding: 10px 24px;
    border-radius: 5px;

    &:hover {
      background-color: lightgray;
    }
  }
}

//color
$greyish: #c4c4c4;

.top-bar-container {
  background-color: #27B7B7;

  .top-bar {
    @include breakpoint(medium) {
      width: 75%;
      margin: 0 auto;
    }

    a {
      color: white;
      text-decoration: none;
    }

    background-color: #27B7B7;

    ul {
      background-color: #27B7B7;
    }

    .top-bar-right {
      .menu {
        .menu-phone {
          color: $white;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}


//TIMELINE

$timeline-color: $black;
$timeline-icon-font-color: $white;
$timeline-transition: all 0.25s ease-in;
$timeline-item-card-bg: $white;
$timeline-item-font-color: $white;
$timeline-item-card: false;
$timeline-item-card-radius: $global-radius;

%clearfix {

  &::after,
  &::before {
    clear: both;
    content: '';
    display: block;
    width: 100%;
  }
}

// Timeline
.timeline {
  margin: 30px auto;
  padding: 0 10px;
  position: relative;
  transition: $timeline-transition;
  width: 100%;

  &::before {
    background: $timeline-color;
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 3px;
  }

  &::after {
    clear: both;
    content: '';
    display: table;
    width: 100%;
  }

  a {
    color: $timeline-item-font-color;
    font-weight: bold;
    transition: $timeline-transition;

    &:hover {
      box-shadow: 0 1px 0px 0px $timeline-item-font-color;
      transition: $timeline-transition;
    }
  }

  .timeline-item {
    margin-bottom: 50px;
    position: relative;
    @extend %clearfix;

    .timeline-icon {
      background: $timeline-color;
      border-radius: 50%;
      height: 50px;
      left: 50%;
      margin-left: -23px;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 50px;
      text-align: center;
      padding: 6px;

      color: $timeline-icon-font-color;
      border: 8px solid #FFFFFF !important;

      // img,
      // svg {
      //   left: 14px;
      //   position: relative;
      //   top: 11px;
      // }
      //
      // svg {
      //   top: 14px;
      // }
    }

    .timeline-content {
      //padding: 20px;
      padding-top: 10px !important;
      text-align: right;
      transition: $timeline-transition;
      width: 45%;
      padding-right: 10px;

      @if $timeline-item-card==true {
        background: $timeline-item-card-bg;
        border-radius: $timeline-item-card-radius;

        p {
          color: $black;
        }
      }

      @else {
        background: transparent;

        p {
          color: $timeline-item-font-color;
        }
      }

      p {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 0;
      }

      .timeline-content-date {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
      }

      .timeline-content-month {
        font-size: rem-calc(14);
        text-transform: uppercase;
        font-weight: 400;
      }

      &.right {
        float: right;
        text-align: left;
        padding-left: 10px;
      }
    }
  }
}

@include breakpoint(x-small only) {
  .timeline {
    margin: 30px;
    padding: 0;
    width: 90%;

    &::before {
      left: 0;
    }

    .timeline-item {
      .timeline-content {
        float: right;
        text-align: left;
        width: 90%;

        &::before,
        &.right::before {
          border-left: 0;
          border-right: 7px solid $timeline-color;
          left: 10%;
          margin-left: -6px;
        }
      }

      .timeline-icon {
        left: 0;
      }
    }
  }
}

@include breakpoint(small only) {
  .timeline {
    margin: 30px;
    padding: 0;
    width: 90%;

    &::before {
      left: 0;
    }

    .timeline-item {
      .timeline-content {
        float: right;
        text-align: left;
        width: 90%;

        &::before,
        &.right::before {
          border-left: 0;
          border-right: 7px solid $timeline-color;
          left: 10%;
          margin-left: -6px;
        }
      }

      .timeline-icon {
        left: 0;
      }
    }
  }
}


$hero-height: 60vh;

body {
  font-family: Montserrat !important;
}

.dropdown {

  img {
    width: 100px;
    height: auto;
  }

}



    .hero-section-text {

      text-align: left;
      color: $black;
      text-shadow: 1px 1px 2px $black;
      max-width: 45%;
      display: contents;

      @include breakpoint(medium) {
        display: inline-block;
      }

      @include breakpoint(large) {
        padding-left: 10%;
      }

      * {
        text-shadow: none;
        font-family: Montserrat;
      }

      h1 {
        line-height: 1;
        font-size: 42px;
      }

      p {
        font-size: 0.9rem;
        margin-bottom: 15px;

      }

    }



.button-edit--secondary {
  background-color: #27B7B7;
  color: white;
  padding: 10px 24px;
  border-radius: 5px;
  height: 45px;
}

.grid-container-top-pad {
  padding-top: 30px;
}

//---- CARD SECTION ----

.card {
  margin: 0 auto;
  border: 0;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.10);
  border-radius: 3px;
}

.card-title {
  font-weight: bold;
  text-transform: uppercase;
}



//--- END OF CARD SECTION ---

li {
  .button-edit {
    background-color: $white;
    color: $black;
    padding: 10px 24px;
    border-radius: 5px
  }
}

//color
$greyish: #c4c4c4;

.top-bar-container {
  .top-bar {
    a {
      color: white;
      text-decoration: none;
    }

    background-color: #27B7B7;

    ul {
      background-color: #27B7B7;
    }

    .top-bar-right {
      .menu {
        .menu-phone {
          color: $white;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

//Sign up today section
.grid-container-getstarted {
  background-color: white;
  margin: 120px auto;

  .getstarted {
    font-family: Montserrat;
  }
}

.button-getstarted {
  background-color: #27B7B7; //color -> green-ish
  color: white;
  padding: 10px 24px;
  border-radius: 5px
}

//hover color brightness decreases by 10%
.button-getstarted:hover {
  background-color: #27B7B7; //color -> green-ish
  filter: brightness(90%); //out of 100%(full brightness) only 90% is shown
  color: white;
  padding: 10px 24px;
  border-radius: 5px
}

// end of getstarted section
.bold {
  font-weight: bold;
}

.tablet-flex-switch {
  flex-direction: column;

  @include breakpoint(large) {
    flex-direction: row;
  }

  .media-object-section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include breakpoint(large) {
      width: 50%;
    }

    .thumbnail {
      box-shadow: none;
      border: none;
      margin: 0 auto;

      @include breakpoint(large) {
        margin: 0;
      }
      iframe {
        max-width: 100%;
      }
    }
  }
}

.bottom-pad {
  padding-bottom: 30px;
}

.how-it-works-container {
  padding: 45px 0;
  max-width: 100% !important;
  background-color: #27B7B7;
  color: white;
  height: 600px;

  @include breakpoint(medium) {
    height: 550px;

  }

  @include breakpoint(large) {
    height: 400px;
    padding: 30px 10rem;
  }
}

.social-footer {

  padding: 2rem;
  background: #27B7B7;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .social-footer-left {
    a {
      img {
        height: 50px;
        width: auto;
      }
    }
  }

  .social-footer-icons {
    li:last-of-type {
      margin-right: 0;
    }

    .fab {
      font-size: 1.5rem;
      color: $white;

      &:hover {
        color: darken($dark-gray, 25%);
        transition: color 0.3s ease-in;
      }
    }
  }
}
